@keyframes fade-in {
  from {transform: translateY(100%)}
  to {transform: translateY(0px);}
}

.dialog-container {
  background-size: 100% 100%;
  background-image: url(../../../assets/Backgrounds/leather_brown.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  position: relative;
  opacity: 0.98;

  .content {
    margin: 22px;
    display: flex;
    flex-direction: column;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    position: relative;
  }

  .frame-line-container {
    display: flex;
    flex-direction: row;
    .frame-left-corner {
      position: relative;
      width: 22px;
      height: 21px;
    }
    .frame-center {
      position: relative;
      flex-grow: 1;
      height: 100%;
    }
    .frame-right-corner {
      position: relative;
      width: 21px;
      height: 21px;
    }
  }

  .top {
    position: absolute;
    top: 0px;
    height: 21px;
    width: 100%;
  }
  .bottom {
    position: absolute;
    bottom:0px;
    height: 21px;
    width: 100%;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 21px;
    height: 100%;
  }
  .left {
    position: absolute;
    width: 22px;
    left: 0px;
    height: 100%;
  }
  .vertical {
    flex-direction: column;
  }
  
  .frame-side-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .frame-center {
      position: relative;
      flex-grow: 1;
      width: 100%;
    }
    .right-img {
      background-image: url(../../../assets/frame/right-center.png);
      background-repeat: repeat-y;
    }
    .left-img {
      background-image: url(../../../assets/frame/left-center.jpg);
      background-repeat: repeat-y;
    }
    .corner-spacer {
      position: relative;
      height: 21px;
      width: 5px;
    }
  }

  
}