.dialog-container {
  background-size: 100% 100%;
  background-image: url(../../../assets/background.png);
  background-repeat: no-repeat;
  border: 22px solid transparent;
  border-image: url(../../../assets/frame.png) 22;
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0px;
}