@import '../../../_constants.scss';

$searator-color: #1F1F1C;

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;

  .ao-logo {
    margin: auto 10px;
  }

  .gm-command-area {
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    .gm-option {
      margin: auto;
      color: white;
      &:hover {
        font-weight: 800;
      }
    }
  }

  .fps-area {
    border-left: solid 2px #161711;
    margin-bottom: 4px;
    font-family: Alegra-AO;
    color: white;
    padding: 0 2px;
    text-align: center;
    min-width: 60px;
    display: flex;
    .fps {
      margin: auto;
    }
  }

  .location-coords {
    border-left: solid 2px $searator-color;
    border-right: solid 2px $searator-color;
    margin-right: 6px;
    margin-bottom: 4px;
    min-width: calc($map-width - 2px);
    display: flex;
    flex-direction: column;
    font-family: Alegra-AO;
    padding: 0 2px;
    .map-name {
      text-align: center;
      width: 100%;
      overflow: hidden;
      word-wrap: break-word;
      color: white;
      margin: 0px;
      font-size: 0.7rem;
    }
    .map-coords {
      text-align: center;
      width: 100%;
      color: #9d2d29;
      margin: 0px;
      font-weight: 800;
      font-size: 0.9rem;
    }
    .safe-area {
      color: #299D2A;
    }
  }

  .button-online-area{
    width: $menu-width;
    min-width: $menu-width;
    max-width: $menu-width;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    border-left: solid 2px $searator-color;
    .bar-button {
      margin: auto 2px;
    }
    .onlines {
      flex-grow: 1;
      text-align: center;
      margin: auto;
      color: #C04000;
      font-weight: 600;
      font-family: Alegra-AO;
      font-size: 0.9rem;
    }
  }
}