.inv-slot {
  width: 34px;
  height: 34px;
  background-image: url(../../../assets/Backgrounds/inventory-slot.png);
  position: relative;
  overflow: hidden;
  .item-count {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0px;
    margin: 0;
    color: white;
    font-family: Alegra-AO;
    text-align: center;
    font-weight: 800;
    pointer-events:none;
  }

  .cant-use {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 0, 0, 0.17);
  }

  .equiped {
    position: absolute;
    top: 0;
    right:5px;
    color: red;
    font-weight: 800;
  }

  .cooldown {
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
  }
  
}

.selected-slot {
  box-shadow: inset 0px 0px 10px 0 rgba(0, 144, 199, 0.59);
}

.locked-slot {
  width: 34px;
  height: 34px;
  background-image: url(../../../assets/Backgrounds/inventory-slot.png);
  position: relative;
  overflow: hidden;
}