.hotkey-bar {
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translate(-50%, 0) scale(0.6);
  margin: 0 auto;
  background-color: black;
  opacity: 0.9;

  .content-style {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1;
  }
  
  .slot-container {
    display: flex;
    position: relative;
    .slot {
      width: 34px;
      height: 34px;
      background-image: url(../../../../assets/Backgrounds/inventory-slot.png);
      position: relative;
      overflow: hidden;
      pointer-events: auto;
      .hotkey-container {
        width: 100%;
        height: 100%;
      }

      .item-count {
        position: absolute;
        left: 0;
        right:0;
        bottom: 0px;
        margin: 0;
        color: white;
        font-family: Alegra-AO;
        text-align: center;
        font-weight: 800;
        pointer-events:none;
      }
    
      .cant-use {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(255, 0, 0, 0.17);
        pointer-events: none;
      }
    
      .equiped {
        position: absolute;
        top: 0;
        right:5px;
        color: red;
        font-weight: 800;
        pointer-events: none;
      }
    }
    @keyframes cursor-color-change {
      0% { color: white; }
      10% { color: red; }
      90% { color: red; }
      100% { color: white; }
    }
    .hk-number {
      position: absolute;
      top: -10px;
      left:50%;
      transform: translate(-50%, 0);
      color: white;
      font-weight: 600;
      font-family: Alegra-AO;
      font-size: 0.7rem;
      animation: cursor-color-change 0.4s;
    }
  }
}