.chat-entry{ 
  font-family: Alegra-AO;
  margin: 0px 5px;
  .sender {
    font-weight: 800;
    font-style: normal;
  }

  .link-style {
    text-decoration: underline;
    color: white;
    font-weight: 400;
    &:hover {
      font-weight: 800;
    }
  }
}