.ao-slider {
  display: flex;
  position: relative;
  .slider-line{
    height: 2px;
    width: 100%;
    background-color: rgba(90, 82, 82, 0.61);
    margin: 20px 0px;
  }

  .selector {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(136, 136, 136);
    top: 50%;
    margin: 0;
    transform: translate(-50%, - 50%);
  }
}