.group {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 2px solid #494943;
  background-image: url(../../../assets/background.png);
  position: relative;
  color: white;
  padding: 1px;
  font-family: Cardo, Arial;
  display: flex;
  align-items: center;
  &:focus-within {
    box-shadow: 0px 0px 8px 1px rgb(65 159 255 / 20%);
  }

  .form-input {
    background: transparent;
    border: none;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    user-select: text;
    margin: auto;
    &:focus {
      outline: none;
    }
  }

  .input-img {
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;
    z-index: 2;
    transform: scale(0.7);
    &:hover {
      transform: scale(0.6);
    }
  }
}
.error {
  border: 2px solid #330c11;
}