.event-list-dialog {
  position: relative;
  margin: auto;

  .close-button{
    position: absolute;
    right: -21px;
    top: -21px;
  }

  .header-line {
    display: flex;
    flex: row;
    margin: 5px auto;
    .game-dialog-header {
      text-align: center;
      font-weight: 900; 
      margin-left: 10px;
      font-size: 1rem;
    }
  }

  .header-underline {
    width: 100%;
    height: 16px;
    background-repeat: repeat-x;
    background-image: url(../../../../assets/Misc/divider_horizontal_big.png);
  }

  .eventList-area {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .event-list {
      min-height: 150px;
      max-height: 300px;
      overflow-y: scroll;
    }

    .event-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;
      background-color: #0000005c;
      padding: 2px 0px 2px 15px;
      position: relative;

      .private-room {
        position: absolute;
        margin: auto;
        right: 2px;
      }
      .event-name{
        width: 120px;
        margin-right: 5px;
      }
      .party-size {
        width: 50px;
        margin-right: 10px;
      }
      .group-type{
        width: 50px;
        margin-right: 10px;
      }
      .max-user {
        width: 50px;
        margin-right: 10px;
      }
      .inscription-price {
        width: 70px;
        margin-right: 5px;
      }
      
    }
  }
  .action-button {
    width: 100px;
    position: relative;
  }
  .main-action-button {
    margin: 10px 0px 10px auto;
  }

  .create-event {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 600px;
    .column {
      display: flex;
      flex-direction: column;
      width: 45%;
      margin: 2.5%;
      max-width: 270px;
      .team-size-value {
        margin: auto;
      }
      .margin-bot {
        margin-bottom: 5px;
      }
      
      .team-size-slider {
        margin: 0px 20px;
      }

      .generic-checkbox {
        margin: 10px 0;
            
        .check-box-label {
          font-weight: 400;
        }
      }

      .inscription-fee-line {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .fixed-increment {
          color: gold;
          padding: 3px;
        }
      }
      
      .input-style {
        margin: 0;
      }
      .error-msg {
        margin: auto;
        color: red;
      }
      .bar {
        height: 5px;
        .bar-left {
          height: 5px;
          max-height: 5px;
          padding: 0px;
        }
        .caption {          
          &:hover {
            display: flex;
          }
          &:active {
            display: flex;
          }
          &:focus {
            display: flex;
          }
        }
        .min-caption {
          background-color: black;
        }
        .max-caption {
          background-color: black;
        }
      }
      
    }
  }
}