.settings-dialog {
  position: relative;
  margin: auto;
  opacity: 0.9px;

  .close-button{
    position: absolute;
    right: -21px;
    top: -21px;
  }
  
  .content {
    min-width: 500px;
    min-height: 400px;
    .header-line {
      display: flex;
      flex: row;
      margin: 5px auto;
      .game-dialog-header {
        text-align: center;
        font-weight: 900; 
        margin-left: 10px;
        font-size: 1rem;
      }
    }
    .header-underline {
      width: 100%;
      height: 20px;
      background-repeat: repeat-x;
      background-image: url(../../../../assets/Misc/divider_horizontal_big.png);
    }

    .sub-menu-selection {
      display: flex;
      flex-direction: row;
      .stats-opt-button {
        flex-grow: 1;
        margin: 1px;
        width: 50%;
      }
      .unselected {
        color: #ffffff70;
        border: 2px solid #21221F;
      }
      .selected {
        border: 2px solid #686865;
        color: white;
        background-image: url(../../../../assets/Buttons/button_gray_over.png);
      }
    }

    .throw-selector-prop__control {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: 2px solid #494943;
      background-image: url(../../../../assets/background.png);
      margin: 5px 5px;
      padding: 0px 5px;
      color: white;
      &:hover {
        border: none;
      }
    }
    .throw-selector-prop__value-container {
      &:focus-visible {
        border: none;
      }
    }
    .throw-selector-prop__menu {
      
      .throw-selector-prop__menu-list {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 1px solid #494943;
        background-image: url(../../../../assets/background.png);
        border-radius: 5px;
        .throw-selector-prop__option{
          color: white;
          margin: 2px 5px;
          text-align: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.096);
          font-size: 0.95rem;
          &:hover {
            color: red;
          }
          &:focus {
            color: red;
          }
        }
      }
    }
  }
}