.loading {
  display: flex;
  flex-direction: row;
  padding: 20px;
  min-width: 160px;
  .loading-content {
    margin: auto;
    margin-left: 5px;
    margin: 20px;  
  }
  .spinner {
    margin: auto;
  }
}