.sex-selection {      
  .button-area {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
    justify-content: space-evenly;
    .button-style {
      background-image: url(../../../assets/Backgrounds/leather_black.png);
    }
    .button {
      background-image: url(../../../assets/Backgrounds/leather_black.png);
      margin: 5px 5px;
      display: flex;
      width: 25px;
      height: 25px;

      .icon {
        display: flex;
        background: transparent;
        background-image: none;
        margin: auto;
      }
    }
  }
  .selected-option {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 20px 0;
  }
}