.spell-entry {
  color:white;
  text-align: left;
  margin: 2px 10px;
  font-family: Alegra-AO;
  font-weight: 400;
  display: flex;
  font-size: 0.85rem;
  flex-direction: row;
  min-height: 12px;

  .spell-icon {
    display: block;
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    overflow: hidden;
  }
}
.selected-spell {
  color:#C73800;
  box-shadow: inset 0px 0px 10px 0 #008fc763;
}