@keyframes intro-in {
  from {transform: translateY(-100%)}
  to {transform: translateY(0px);}
}
.header {
  width: 100%;
  position: relative;
  animation-name: intro-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  .logo-container {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    .logo {
      margin: 0 auto;
      height: 20vh;
    }
  }

  .leather-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    .top-leather {
      width: 100%;
      background-image: url(../../../assets/Backgrounds/leather_brown.png);
      background-repeat: repeat-x;
      height: 8vh;
      position:relative;
      display: flex;
      flex-direction: row;

      .button {
        margin: auto 40px;
        display: flex;

        .icon {
          display: flex;
        }
      }
    }
    .top-long-frame {
      width: 100%;
        height: 40px;
        background-repeat: repeat-x;
        background-image: url(../../../assets/Misc/divider_horizontal_big.png);
    }
  }
  
}