.exp-area {
  height: 110px;
  max-height: 110px;
  width: 100%;
  background-image: url(../../../../assets//Backgrounds/main_pj_info.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .name-line {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    margin: 10px 0 0 0;
    font-weight: 400;
  }
  .class-line {
    position: relative;
    width: 100%;
    display: flex;
    .class-and-level {
      color: white;
      text-align: center;
      margin: 0;
      font-weight: 600;
      font-size: 0.9rem;
      font-family: 'Alegra-AO';
      width: 100%;
    }
    .skill-button {
      position: absolute;
      right: 10px;
      top: -10px;
    }
  }
  

  .exp-bar-container{
    padding: 5px 10px 5px 10px;
    display: flex;
    .exp-bar-outer{
      height: 18px;
      font-size: 0.70rem;
      width: 100%;
      display: flex;
      border: none;
      padding: 1px;
      background-image: url(../../../../assets/Backgrounds/main_exp_bar.png);
      .exp-bar-inner{
        
        background-image: linear-gradient(to top, rgb(2 75 48), rgb(16 143 125));
      }
      .number {
        font-size: 0.85rem;
        font-weight: 400;
      }
    }
  }

  .time-bar{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    height: 32px;
    background-image: url(../../../../assets/Backgrounds/main_hora.png);
    display: flex;
    .timer {
      margin: auto;
      color: white;
      font-weight: 800;
      text-align: end;
      width: 40px;
      font-family: Alegra-AO;
    }
  }
}