.stats-panel {
  width: 100%;
  display: flex;
  flex-direction: column;

  .gold-line {
    display: flex;
    flex-direction: row;
    margin: 5px 20px 0px 20px;
    font-family: Alegra-AO;
    font-weight: 800;
    .stats-icon {
      margin-right: 5px;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .gold {
      flex-grow: 1;
      color: rgb(240, 177, 61);
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .str {
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .agi {
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 10px;
    }
  }

  .separator-line{
    border-bottom: solid rgba(90, 84, 84, 0.122) 3px;
    margin: 10px 20px;
  }

  .hp-line {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    .hp-bar-outer {
      height: 15px;
      font-size: 0.83rem;
      flex-grow: 1;
      .hp-bar {
        background-image: linear-gradient(to top,rgb(61, 10, 10), rgb(207, 6, 6));
      }
    }
  }
  .mana-line {
    margin: 5px 20px;
    display: flex;
    flex-direction: row;
    .mana-bar-outer {
      height: 15px;
      font-size: 0.83rem;
      flex-grow: 1;
      .mana-bar {
        background-image: linear-gradient(to top,rgb(10, 16, 95), rgb(16, 29, 214));
      }
    }
  }

  .energy-line {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    font-size: 0.54rem;
    align-items: center;

    .stats-icon {
      margin-right: 5px;
    }
    .energy-bar-outer {
      height: 10px;
      flex-grow: 1;
      margin-right: 10px;
      border: rgba(114, 108, 108, 0.445) solid 2px;
    }
    .energy-bar {
      background-image: linear-gradient(to top,rgb(119, 113, 23), rgb(192, 179, 4));
    }

    .drink-bar-outer {
      height: 10px;
      width: 30px;
      margin-right: 10px;
      border: rgba(114, 108, 108, 0.445) solid 2px;
    }
    .drink-bar {
      background-image: linear-gradient(to top,rgb(29, 102, 102), rgb(57, 180, 180));
    }
    .food-bar-outer {
      height: 10px;
      width: 30px;
      border: rgba(114, 108, 108, 0.345) solid 2px;
    }
    .food-bar {
      background-image: linear-gradient(to top,rgb(26, 85, 29), rgb(36, 141, 41));
    }
  }

  .defense-area {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    display: grid;
    gap: 5px;
    row-gap: 10px;
    margin: 0px 20px 20px 20px;
    .magic-armor {
      margin-left: -7px;
    }
  }
}