.character-container {
  position: relative;
  margin: auto auto 15px auto;
  display: flex;
  flex-shrink: 0;
  .head-area {
    position: absolute;
    .head {
      position: relative;
    }     
    .helm {
      position: absolute;
      top:0px;
      left:0px;
    }
  }
  .body-area {
    position: relative;
    .body {
      margin: auto auto auto 0;
    }

    .weapon {
      position: absolute;
      top:0px;
      left:0px;
    }
  }
  .shield {
    position: absolute;
    top:0px;
    left:0px;
  }
  

  
}