.character-selector-container {
  display: flex;
  flex-direction: column;  
  .frame {
    position: relative;
    background-image: url(../../../assets/Misc/pj_box.png);
    background-repeat: no-repeat;
    width: 78px;
    height: 92px;
    margin: 0px 40px;
    box-shadow: 0px 0px 12px 3px rgb(5 5 5);
    .selection-marker {
      width: 100%;
      height: 100%;
    }

    .char-render-area{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .char-name {
    margin: 10px 0 0 0;
    text-align: center;    
    font-weight: 800;
    font-family: Alegra-AO;
    font-size: 1rem;
  }
}