.character-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: auto auto 0 auto;
  .section-divider {
    flex-grow: 1;
    display: flex;

    .seleccion-detais {
      margin: auto auto auto auto;
      display: flex;
      flex-direction: row;
      .details-border-left {
        background-image: url(../../../assets/Misc/info-area-left.png);
        width: 18px;
        height: 173px
      }
      .details-border-right {
        background-image: url(../../../assets/Misc/info-area-right.png);
        width: 18px;
        height: 173px;
      }
      .details-box {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 16px 1px rgb(5 5 5);
        .border-left {
          background-image: url(../../../assets/Misc/info-area-left-frame.png);
          width: 11px;
          height: 173px
        }
        .border-right{
          background-image: url(../../../assets/Misc/info-area-right-frame.png);
          width: 12px;
          height: 173px;
        }
        .text-area {
          display: flex;
          flex-direction: column;
          margin: auto;
          color: white;
          height: 173px;
          min-width: 300px;
          flex-grow: 1;
          background-image: url(../../../assets/Misc/info-area-center.png);
          background-repeat: repeat-x;
          text-align: center;
          justify-content: start;
          .text {
            margin-top: 5px;
          }
          .char-name-tittle {
            margin-top: 25px;
            font-weight: 800;
          }
          .name-input {
            margin: 0px auto 10px;
            width: 250px;
            

            .inner-input {
              font-size: 1rem;
              font-family: Cardo;
              color: goldenrod;
              text-align: center;
            }
          }
          .name-rules {
            margin: 0 30px;
            max-width: 350px;
          }
          .warning {
            color:gold;
          }
        }
      }
      
    }
  }
}