.stat-area {
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;

  .stat-icon {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.548));
    height: 100%;
  }
  .content {
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 0px 15px 15px 0px;
    flex-grow: 1;
    color: white;
    text-align: center;
    font-family: Alegra-AO;
    font-weight: 800;
    height: 100%;
    vertical-align: middle;
    display: flex;
    .centered-content {
      margin: auto;
    }
  }
}