@keyframes cursor-color-change {
  0% { background-color: red; }
  10% { background-color: green; }
  90% { background-color: green; }
  100% { background-color: red; }
}
.animate-color-change {
  animation: cursor-color-change 0.4s;
}