@keyframes intro-in-bottom {
  from {transform: translateY(100%)}
  to {transform: translateY(0px);}
}

.char-selection-bottom {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  animation-name: intro-in-bottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  .bottom-leather {
    background-image: url(../../../assets/Backgrounds/leather_brown.png);
    background-repeat: repeat-x;
    height: 6vh;
    position:relative;
    width: 100%;
  }

  .button-area {
    position: absolute;
    top:-16px;
    width: 100%;

    .bar-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      .bar-img {
        width: 100%;
        height: 16px;
        margin: auto 0;
        background-repeat: repeat-x;
        background-image: url(../../../assets/Misc/divider_horizontal_big.png);
      }
    }

    .button-layer {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .character-details {
    display: flex;
    width: 100%;
    flex-direction: row;

    .section-divider {
      flex-grow: 1;
      display: flex;

      .seleccion-detais {
        margin: auto auto auto auto;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 16px 1px rgb(5 5 5);
        .details-border-left {
          background-image: url(../../../assets/Misc/info-area-left.png);
          width: 29px;
          height: 173px
        }
        .details-border-right {
          background-image: url(../../../assets/Misc/info-area-right.png);
          width: 30px;
          height: 173px;
        }
        
        .text-area {
          display: flex;
          flex-direction: column;
          margin: auto;
          color: white;
          height: 173px;
          min-width: 223px;
          flex-grow: 1;
          background-image: url(../../../assets/Misc/info-area-center.png);
          background-repeat: repeat-x;
          text-align: center;
          .text {
            margin-top: 20px;
          }
        }
      }
    }
  }
}