@import '../../../_constants.scss';

.gameplay-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  position: relative;
  @keyframes gp-intro-in-top {
    from {transform: translateY(-100%)}
    to {transform: translateY(0px);}
  }
  
  @keyframes gp-animation-out-top {
    from {transform: translateY(0px)}
    to {transform: translateY(-100%);}
  }
  .gp-top-exit-animation {
    animation-name: gp-animation-out-top;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    transform: translateY(-100%);
  }
  .gp-top-intro-animation {
    animation-name: gp-intro-in-top;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  @keyframes gp-intro-in-right {
    from {transform: translateX(400px)}
    to {transform: translateX(0px);}
  }
  
  @keyframes gp-animation-out-right {
    from {transform: translateX(0px)}
    to {transform: translateX(400px);}
  }
  .gp-right-exit-animation {
    animation-name: gp-animation-out-right;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    transform: translateX(400px);
  }
  .gp-right-intro-animation {
    animation-name: gp-intro-in-right;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  @keyframes gp-intro-in-left {
    from {transform: translateX(-400px)}
    to {transform: translateX(0px);}
  }
  
  @keyframes gp-animation-out-left {
    from {transform: translateX(0px)}
    to {transform: translateX(-400px);}
  }
  .gp-left-exit-animation {
    animation-name: gp-animation-out-left;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    transform: translateX(-400px);
  }
  .gp-left-intro-animation {
    animation-name: gp-intro-in-left;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  .gp-top-exit-animation {
    animation-name: gp-animation-out-top;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    transform: translateY(-100%);
  }
  .gp-top-intro-animation {
    animation-name: gp-intro-in-top;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  @keyframes gp-intro-in-bottom {
    from {transform: translateY(400px)}
    to {transform: translateY(0px);}
  }
  
  @keyframes gp-animation-out-bottom {
    from {transform: translateY(0px)}
    to {transform: translateY(400px);}
  }
  .gp-bottom-exit-animation {
    animation-name: gp-animation-out-bottom;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    transform: translateY(400px);
  }
  .gp-bottom-intro-animation {
    animation-name: gp-intro-in-bottom;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }


  .gameplay-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .gameplay-and-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
  }
  .top-bar {
    width: 100%;
    height: 33px;
    min-height: 33px;
    background-size: 100% 100%;
    background-image: url(../../../assets//Backgrounds/main_top.png);
    background-repeat: no-repeat;
  }
  .chat-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #4c493a;
  }
  .gameplay-divider {
    height: 2px;
    width: 100%;
    background-image: url(../../../assets/frames/gameplay/main_border_bottom.png);
  }
  .gameplay-bottom-frame {
    height: 10px;
    width: 100%;
    background-image: url(../../../assets/frames/gameplay/main_frame_horizontal.png);
  }
  .frame-corner {
    width: 10px;
    height: 10px;
  }
  .bot-left {
    background-image: url(../../../assets/frames/gameplay/main_frame_angle_bl.png);
    position: absolute;
    bottom: 0;
  }
  .bot-right {
    background-image: url(../../../assets/frames/gameplay/main_frame_angle_br.png);
    position: absolute;
    bottom: 0;
  }
  .gameplay-window {
    flex-grow: 1;
    pointer-events: none;
    position: relative;

    .hide-show-hotkeys {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: gray;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .menu-separator {
    position: relative;
    height: 100%;
    width: 10px;
    min-width: 10px;
    background-image: url(../../../assets/frames/gameplay/main_frame_vertical.png);
  }
  .right-panel {
    width: $menu-width;
    min-width: $menu-width;
    max-width: $menu-width;
    height: 100%;
    overflow: hidden;
  }

  
}