.checkbox-group {
  border: 0px solid transparent;
  position: relative;
  color: white;
  padding: 0px;
  font-family: Cardo, Arial;
  display: flex;
  flex-direction: row;
  background-image: none;
  border-image: none;
  background: transparent;
  
  .form-input {
    background: transparent;
    border: none;
    color: white;
    content: url(../../../assets/frame.png);
    width: 17px;
    height: 17px;
    margin: 0px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    &:checked {
      content: url(../../../assets/check-on.jpg);
    }
  }
  .checkox-label {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
    font-family: Alegra-AO;
  }
}