.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 160px;
  .text {
    margin: auto;
  }
  .button-line {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: auto;
  }

  .button-settings {
    padding: 3px 10px;
  }
}