.world-map {
  position: relative;
  margin: auto;

  .close-button{
    position: absolute;
    right: -21px;
    top: -21px;
  }

  .header-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    .game-dialog-header {
      margin: 0;
      font-weight: 900; 
      font-size: 1rem;
    }
  }

  .header-underline {
    position: absolute;
    top: 27px;
    width: 100%;
    height: 16px;
    background-repeat: repeat-x;
    background-image: url(../../../../assets/Misc/divider_horizontal_big.png);
  }

  .header-navbar {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    width: 74%;
    font-family: 'Alegra-AO';
    .continent-title,
    .search-title{
      font-size: 0.875rem;
      color: gold;
      text-align: center;
      margin: 0;
    }
    .continent,
    .search {
      width: 50%;
    }
    .continent-selector {
      display: flex;
      justify-content: space-around;
      .continent-selector--title {
        font-size: 0.75rem;
        font-family: 'Alegra-AO';
        color: white;
        margin: 0;
      }
      .testcheck {
        font-family: 'Alegra-AO';
        font-size: 0.75rem;
        padding: 1px 16px;
      }
    }
    .search-input--container {
      display: flex;
      justify-content: center;
    }
  }

  .map-content-area {
    display: flex;
    flex-direction: row;

    .map-area {
      display: flex;
      flex-direction: row;
      .world-selector {
        display: none;
        flex-direction: column;
        margin: 10px 1px 0px 10px;
        .unselected {
          color: #ffffff70;
          border: 2px solid #21221F;
        }
        .selected {
          border: 2px solid #686865;
          color: white;
          background-image: url(../../../../assets/Buttons/button_gray_over.png);
        }
      }
      .map-grid-frame {
        margin: 0px;
        position: relative;
        
        .grid-layer {
          position: absolute;
          width: 100%;
          height: 100%;
          display: grid;
          grid-auto-rows: auto;
          top: 0;
          left: 0;
        }
        .grid-element {
          display: flex;
        }
        .selected-grid-element {
          border: 1px solid white;
          box-sizing: border-box;
        }
        .grid-number {
          margin: auto;
        }
        .safe-area {
          background-color: rgba(127, 255, 212, 0.447);
        }
        .unsafe-area {
          background-color: rgba(220, 20, 60, 0.301);
        }
      }

      .map-grid {
        margin: 10px 10px 10px 10px;
      }
    }
    .side-bar-area {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: 10px;
      margin-top: -28px;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .map-title {
        margin: 0;
        text-align: center;
        font-size: 0.875rem;
        font-family: 'Alegra-AO';
        color: gold;
      }

      .map-name {
        text-align: center;
        margin-top: 10px;
        color: white;
        font-family: 'Alegra-AO';
        font-weight: 600;
      }
      .npc-info {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
      }
      .npc-preview-container {
        margin: 1rem auto;
        width: 80%;
      }
      .npc-preview {
        width: 100%;
        height: 100px;
      }
      .npc-list-title {
        display: flex;
        flex-direction: row;
        margin: 5px;
      }
      .npc-list-name {
        flex-grow: 1;
        font-family: 'Alegra-AO';
      }
      .npc-list-count {
        font-family: 'Alegra-AO';
        margin: auto;
      }
      .npc-header-line {
        font-size: 0.7rem;
        color: gold;
        margin-bottom: 2px;
      }
      .selected-npc {
        color: gold;
      }
      .no-npc-found{
        width: 100%;
        color: gold;
        font-family: 'Alegra-AO';
        font-weight: 600;
        text-align: center;
      }

      .npc-details-tittle {
        font-family: 'Alegra-AO';
        color: gold;
        text-align: center;
        font-size: 0.875rem;
        font-weight: bold;
        margin: 10px 0 0 0;
      }

      .search-map {
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        .find-map-title {
          margin: auto;
        }
      }
      .search-npc-button {
        width: 70%;
        margin: 0 auto;
      }
      .markers-container {
        margin-top: 15px;
        .markers-content--container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .markers-ops {
          margin-top: 8px;
          display: flex;
          width: 50%;
        }
        .marker-label {
          font-family: 'Alegra-AO';
          font-size: 0.75rem;
        }
      }

    }
  }
}