.create-charcter { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .config-area {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    .left-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px 20px 20px;
    }

    .mid-panel {
      flex-grow: 1;
      display:flex;
      flex-direction: column;

      .character-preview {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        flex-grow: 1;
      }
      .character-details {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: auto auto 0 auto;
        .section-divider {
          flex-grow: 1;
          display: flex;
    
          .seleccion-detais {
            margin: auto auto auto auto;
            display: flex;
            flex-direction: row;
            .details-border-left {
              background-image: url(../../assets/Misc/info-area-left.png);
              width: 18px;
              height: 173px
            }
            .details-border-right {
              background-image: url(../../assets/Misc/info-area-right.png);
              width: 18px;
              height: 173px;
            }
            .details-box {
              display: flex;
              flex-direction: row;
              box-shadow: 0px 0px 16px 1px rgb(5 5 5);
              .border-left {
                background-image: url(../../assets/Misc/info-area-left-frame.png);
                width: 11px;
                height: 173px
              }
              .border-right{
                background-image: url(../../assets/Misc/info-area-right-frame.png);
                width: 12px;
                height: 173px;
              }
              .text-area {
                display: flex;
                flex-direction: column;
                margin: auto;
                color: white;
                height: 173px;
                min-width: 350px;
                flex-grow: 1;
                background-image: url(../../assets/Misc/info-area-center.png);
                background-repeat: repeat-x;
                text-align: center;
                justify-content: start;
                box-shadow: inset 0px 0px 48px 0px rgb(0 0 0 / 75%);
                .text {
                  margin-top: 5px;
                }
                .char-name-tittle {
                  margin-top: 25px;
                  font-weight: 800;
                }
                .name-input {
                  margin: 0px auto 10px;
                  width: 250px;
                  

                  .inner-input {
                    font-size: 1rem;
                    font-family: Cardo;
                    color: goldenrod;
                  }
                }
                .name-rules {
                  margin: 0 30px;
                  max-width: 350px;
                }
                .warning {
                  color:gold;
                }
              }
            }
            
          }
        }
      }
    }
    .right-panel {
      margin: 0px 20px 20px;
      display: flex;
    }
    .ribbon-container {
      margin: auto auto;
    };

    .sub-panel {
      min-width: 200px;
      display: flex;
      flex-direction: column;
    }
    .sex-selection {      
      .button-area {
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        justify-content: space-evenly;
        .button-style {
          background-image: url(../../assets/Backgrounds/leather_black.png);
        }
        .button {
          background-image: url(../../assets/Backgrounds/leather_black.png);
          margin: 5px 5px;
          display: flex;
          width: 25px;
          height: 25px;
  
          .icon {
            display: flex;
            background: transparent;
            background-image: none;
            margin: auto;
          }
        }
      }
    }

    .race-selection {
      .button-area {
        margin: 15px 40px;

        .button-settings {
          margin-top: 10px;
        }
      }

      .select-class-details {
        flex-grow: 1;
      }
      
    }
    .class-selection {
      display: flex;
      flex-grow: 1;
    }

    .attribute-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
      .attrib-line{
        display: flex;
        flex-direction: row;
        font-family: Alegra-AO;
        margin: 5px 20px 0px;
        font-weight: 600;
        .attr-name {
          color: white;
          flex-grow: 1;
          margin: 0;
        }
        .attr-value {
          color:white;
          margin: 0;
        }
        .attr-green {
          color:green
        }
        .attr-red {
          color: red;
        }
      }
    }
  }

  .bottom-leather {
    background-image: url(../../assets/Backgrounds/leather_brown.png);
    background-repeat: repeat-x;
    height: 8vh;
    position:relative;
    width: 100%;
    .button-area {
      position: absolute;
      top:-16px;
      width: 100%;
  
      .bar-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        .bar-img {
          width: 100%;
          height: 16px;
          margin: auto 0;
          background-repeat: repeat-x;
          background-image: url(../../assets/Misc/divider_horizontal_big.png);
        }
      }
  
      .button-layer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}