.input-dialog {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  max-width: 380px;
  margin: auto;

  .desc-text {
    margin: auto;
    min-width: 200px;
    min-height: 40px;
    text-align: center;
    max-width: 300px;
    margin-top: 20px;
  }
  .input-area {
    margin: 0px 40px;
  }
  .button-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 200px;
    margin: 10px;
  }

  .button-settings {
    padding: 3px 10px;
    margin: 2px;
  }
}