.stats-menu-area {
  display: flex;
  flex-direction: column;
  background-image: url(../../../../../assets/Backgrounds/stats-bg.png);
  background-size: 100% 100%;
  width: 100%;
  .button-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    .stats-opt-button {
      flex-grow: 1;
      margin: 1px;
      width: 50%;
    }
    .unselected {
      color: #ffffff70;
      border: 2px solid #21221F;
    }
    .selected {
      border: 2px solid #686865;
      color: white;
      background-image: url(../../../../../assets/Buttons/button_gray_over.png);
    }
  }
  .content-area {
    width: 100%;
  }
}