.button-container {
  border-style: inset;
  border: 2px solid #494943;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../../assets/Buttons/button_gray_default.png);
  display: flex;
  flex-direction: column;
  color: white;
  padding:  5px 10px;
  font-weight: 900;
  font-family: Cardo, Arial;
  text-align: center;
  p {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  &:hover {
    border: 2px solid #686865;
    color: white;
    background-image: url(../../../assets/Buttons/button_gray_over.png);
  }

  &:active {
    color: #7F7F7F;
    border: 2px solid #21221F;
    background-image: url(../../../assets/Buttons/button_gray_off.png);
  }
}

.red-bg {
  background-image: url(../../../assets/Buttons/button_red_default.png);
  &:hover {
    background-image: url(../../../assets/Buttons/button_red_over.png);
  }

  &:active {
    background-image: url(../../../assets/Buttons/button_red_off.png);
  }
}

.red-disabled {
  background-image: url(../../../assets/Buttons/button_red_off.png);
  pointer-events:none;
}

.disabled {
  pointer-events:none;
  color: #7F7F7F;
  border: 2px solid #21221F;
  background-image: url(../../../assets/Buttons/button_gray_off.png);
}