.button-container {
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-image: url(../../../assets/input-area-empty-background.png) 2 round;
  background-image: url(../../../assets/background.png);
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  padding: 10px;
  font-weight: 900;
  font-family: Cardo, Arial;

  &:hover {
    color: white;
    border-image: url(../../../assets/border-over.png) 2 round;
    background-image: url(../../../assets/background-over.png);
  }

  &:active {
    color: #7F7F7F;
    border-image: url(../../../assets/border-off.png) 2 round;
    background-image: url(../../../assets/background-off.png);
  }
}