.game-chat {
  flex-grow: 1;
  height: 116px;
  background-size: 100% 100%;
  background-image: url(../../../assets//Backgrounds/main_chat.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  .message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    margin: 2px 0px;
    .scrollEnd {
      margin-top: 20px;
      height: 2px;
    }
  }
  .input-line {
    border-top: 1px solid #32332D;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 28px;
    min-height: 28px;
    position: relative;
    .chat-options {
      position: absolute;
      bottom: -100px;
      left: 10px;
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0px 0px 12px 3px rgb(5 5 5);
      .chat-opt {
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 0px 20px;
        font-family: 'Alegra-AO';
        
        &:hover {
          background-color: rgba(0, 183, 255, 0.212);
        }
        .selection-icon {
          position: absolute;
          right: 0;
        }
      }
    }
    .chat-input-selection {
      margin: 0px 5px;
      height: 15px;
    }
    .chat-input {
      flex-grow: 1;
      border: none;
      background: transparent;
      .chat-input-area {
        width: 100%;
      }
    }
    .chat-display-options {
      display: flex;
      flex-direction: column;
      font-size: 0.45rem;
      margin: 0px 5px;
      color: #32332D;
      .option {
        margin: 0px;
        border: 1px solid #32332D;
        margin: 1px;
        border-radius: 5px;
        padding: 0px 2px;
        text-align: center;
      }
    }
  }
}