@font-face {
  font-family: 'Alegra-AO';
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegra-AO';
  font-weight: 900;
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegra-AO';
  font-style: italic;
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  src: local('Cardo'), url(./fonts/Cardo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-weight: 900;
  src: local('Cardo'), url(./fonts/Cardo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: italic;
  src: local('Cardo'), url(./fonts/Cardo-Italic.ttf) format('truetype');
}

.dialog-header {
  text-align: center;
  font-weight: 900; 
  border-bottom: #ffffff14 2px solid;
  margin: 5px 20px 10px;
  padding: 10px 20px;
  font-size: 1rem;
}

.login-dialog-pos {
  margin: auto;
  margin-bottom: 30px;
}

.named-input {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  font-weight: 900;
  .name {
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

.vertical-gap10 {
  height: 0px;
  width: 0px;
  opacity: 0;
  margin: 5px 0px;
}

.horizontal-gap10 {
  height: 0px;
  width: 0px;
  opacity: 0;
  margin: 0px 5px;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  .popups {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3a393971;
    display: flex;
    .centered {
      margin: auto;
    }
  }
}
