@font-face {
  font-family: 'Alegra-AO';
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegra-AO';
  font-weight: 900;
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegra-AO';
  font-style: italic;
  src: local('Alegra-AO'), url(./fonts/Alegreya-Sans-AO-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  src: local('Alegra-AO'), url(./fonts/Cardo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-weight: 900;
  src: local('Alegra-AO'), url(./fonts/Cardo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: italic;
  src: local('Alegra-AO'), url(./fonts/Cardo-Italic.ttf) format('truetype');
}
