.select-option-container {
  border-style: inset;
  border: 2px solid #21221f00;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #7F7F7F;
  background-image: url(../../../assets/Buttons/button_gray_off.png);
  display: flex;
  flex-direction: column;
  padding:  3px 5px;
  font-weight: 900;
  font-family: Cardo, Arial;
  font-size: 0.7rem;
  text-align: center;
  .button-content {
    margin: auto;
  }
  &:hover {
    border: 2px solid #facd07;
    color: white;
    background-image: url(../../../assets/Buttons/button_gray_over.png);
  }

  &:active {
    color: #7F7F7F;
    border: 2px solid #21221F;
    background-image: url(../../../assets/Buttons/button_gray_off.png);
  }
}

.selected {
  pointer-events:none;
  border: 2px solid #facd07;
  color: white;
  background-image: url(../../../assets/Buttons/button_gray_over.png);
}
