.inventory-frame {
  position: relative;
  display: flex;
  .content {
    margin: 13px;
    background-image: url(../../../../../assets/Backgrounds/main_spells_slots.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .frame-line-container {
    display: flex;
    flex-direction: row;
    
    .frame-center {
      position: relative;
      flex-grow: 1;
      height: 13px;
      background-repeat: repeat-x;
    }
    .image-top {
      background-image: url(../../../../../assets/frames/inventory/top-center.png);
      
    }

    .image-bottom {
      background-image: url(../../../../../assets/frames/inventory/bottom-center.png);
    }
  }

  .top {
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .bottom {
    position: absolute;
    bottom:0px;
    width: 100%;
  }
  .right {
    position: absolute;
    right: 0px;
    height: 100%;
  }
  .left {
    position: absolute;
    left: 0px;
    height: 100%;
  }
  .vertical {
    flex-direction: column;
  }
  
  .frame-side-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .frame-center {
      position: relative;
      flex-grow: 1;
      background-image: url(../../../../../assets/frames/inventory/left-center.png);
      width: 13px;
      background-repeat: 'repeat-y';
    }
    .right-image{
      background-image: url(../../../../../assets/frames/inventory/right-center.png),
    }
  }
}