.ribbon {
  background-image: url(../../../assets/Misc/titulo_pergamino.png);
  width: 170px;
  height: 30px;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
  .text {
    margin: 3px auto;
    text-align: center;
    color: white;
    font-size: 0.8rem;
  }
}