.ribbon {
  background-image: url(../../../assets/Misc/titulo_pergamino.png);
  width: 170px;
  height: 30px;

  .text {
    margin: auto 5px;
    text-align: center;
    color: white;
    font-size: 1rem;
  }
}